.list {
  // width: 100%;
  // max-height: 330px;
  // margin-top: 2rem;
  // overflow-y: scroll;
  width: 100%;
  margin-top: 2rem;
  min-height: 30px;
  max-height: 330px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  .todo-con {
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    min-height: 200px;

    .todo-li {
      display: grid;
      grid-template-columns: 25px 1fr 35px 35px 35px;
      background-color: hsl(235, 24%, 19%);
      padding: 1rem 0.9rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-style: italic;
      font-size: 18px;
      align-items: center;
      width: 94%;
      .pinTodo {
        background: transparent;

        .pin-star {
          cursor: pointer;
          font-size: 18px;
        }

        .fa-regular {
          color: #ccc; // Color for unpinned star
        }

        .fa-solid {
          color: #f0d513; // Color for pinned star
        }
      }

      .todos {
        width: 92%;
        color: #fff;

        &.completed {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }

      .edit {
        background: transparent;
        border: none;
        outline: none;
        opacity: 0;
        transition: all 0.4s ease;
        cursor: pointer;
        margin-right: 10px;
      }
      &:hover {
        .edit {
          opacity: 1;
        }
      }

      .check {
        width: 20px;
        height: 20px;
        border: 1px solid hsl(233, 14%, 35%);
        border-radius: 50%;
        display: grid;
        place-content: center;
        margin-right: 1rem;
        cursor: pointer;

        img {
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &.active-check img {
          opacity: 1;
        }

        &.active-check {
          background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
      }
      .edit {
        background: transparent;
        border: none;
        outline: none;
        opacity: 0;
        transition: all 0.4s ease;
        cursor: pointer;
        color: #fff;
        margin-right: 0.7rem;

        img {
          height: 24px;
          width: auto;
        }
      }

      .close,
      .edit {
        background: transparent;
        border: none;
        outline: none;
        opacity: 0;
        transition: all 0.4s ease;
        cursor: pointer;
        color: #fff;
      }

      &:hover .close {
        opacity: 1;
      }
    }
  }
}
.empty-state-message {
  background: pink;
  padding: 10px;
  width: 96%;
}

.hr {
  width: 100%;
  background: hsl(233, 14%, 35%);
  height: 0.9px;
}
.edited-input {
  position: absolute;
  left: 35%;
}

.info {
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
  padding: 1rem 0.9rem;
  background: hsl(235, 24%, 19%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;

  .choice {
    display: flex;
  }

  .choice p {
    padding: 0 5px;
  }

  .info p:hover {
    color: hsl(220, 98%, 61%);
  }

  .active {
    color: hsl(220, 98%, 61%);
  }
}

.mb-5 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.modal-background {
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #fff;
    width: 275px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(129, 126, 126, 0.25);
    .content {
      color: #33363b;
      text-align: center;
      font-size: 17px;
      font-style: normal;
      font-weight: 550;
      line-height: 135.687%;
    }
    .buttons {
      // padding: 36px 0px;
      padding-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cancelBtn {
        display: inline-flex;
        padding: 8px 32px;
        justify-content: center;
        align-items: center;
        // gap: 8px;
        color: #56585c;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid #abadaf;
      }
      .deleteBtn {
        display: inline-flex;
        padding: 8px 32px;
        justify-content: center;
        align-items: center;
        // gap: 8px;
        cursor: pointer;
        background-color: #78089b;
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        border-radius: 6px;
        border: 1px solid #abadaf;
      }
    }
  }
}
.snackbar-error {
  background-color: #212121;
  padding: 0.4rem 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  position: fixed;
  left: 30%;
  bottom: 20%;
  max-height: 28px;
  transition: max-height 1.6s 1s;

  p {
    color: #fff;
    font-size: 14px;
    padding-left: 1.2rem;
  }

  button {
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 0.5rem 0.8rem;
    // margin-top: 0.5rem;
    border-radius: 5px;
    // margin: 0.3rem;
    cursor: pointer;
    color: #fff;
    background-color: rgb(131, 6, 50);
  }
}
