<!-- <app-content></app-content> -->
<div class="banner-con">
  <div class="banner">
    <div class="content">
      <h1>TODO</h1>
      <img src="../../assets/images/icon-sun.svg" alt />
    </div>
    <div class="todo">
      <app-todo (addTodoItem)="addTodo($event)"></app-todo>
      <app-todo-list
        [todos]="todoInfo$ | async"
        [errorMessage]="errorMessage"
        [activeFilter]="activeTab$ | async"
        [incompleteTodos]="incompleteTodosLength$ | async"
        [showDeleteModal]="showDeleteModal"
        (deleteTodoItem)="deleteTodo($event)"
        (closeBtn)="closeBtn()"
        (editTodoItem)="handleUpdatedTodo($event)"
        (markAsComplete)="markCompleted($event)"
        (clearcompletedItems)="clearCompleted($event)"
      ></app-todo-list>
    </div>
  </div>
</div>
