.todo {
  width: 550px;
  max-height: 498px;

  form {
    width: 100%;
    // height: 83px;
    position: relative;

    input {
      width: 90%;
      padding: 15px 30px;
      border-radius: 5px;
      margin-top: 2rem;
      background: hsl(235, 24%, 19%);
      font-size: 16px;
      color: #fff;
      letter-spacing: 1px;
      outline: none;
      border: none;

      &::placeholder {
        color: #fff;
        letter-spacing: 2px;
      }
    }

    .pos-abs {
      position: absolute;
      right: 10px;
      top: 57%;
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      img {
        height: 15px;
        width: auto;
      }
    }
  }
}
